.Financing {
    text-align: center;
    padding: 50px 0 0 0;
    }

.Financing--step-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.Financing--step-paragraph {
    padding-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}